<br><br>

<form action="cadPessoa" method="POST">
    <input type="text" name="nome" autocomplete="off" placeholder="informe o nome"/><br><br>
    <input type="text" name="endereco" autocomplete="off" placeholder="informe o endereco"/><br><br>
    <input type="text" name="cpf" required autocomplete="off" placeholder="informe o cpf"/><br><br>
    <br><br>
    <input type="submit" value="Cadastrar">
    
</form>