<div class="row botao">
  <div class="d-grid gap-2  mx-auto">
    <a class="btn btn-primary xis" href="/login" type="button">CADASTRAR ONG</a>
    <a class="btn btn-primary xis" href="/cadastrarAdministrador" type="button">CADASTRAR ADMINISTRADOR</a>
  </div>
</div>