<div class="row botao">
  <div class="d-grid gap-2  mx-auto">
    <a class="btn btn-primary xis" href="/atualizaProduto" type="button">ATUALIZAR CADASTRO DE PRODUTOS</a>
    <a class="btn btn-primary xis" href="/atualizaOng" type="button">ATUALIZAR CADASTRO DE ONG</a>
    <a class="btn btn-primary xis" href="/atualizaAdministrador" type="button">ATUALIZAR CADASTRO DE ADMINISTRADOR</a>
  </div>
</div>