<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Central de Doações </title>
</head>
<body>
       <form action="/cadDoacao" method="POST">

</form>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="my-4">LISTA DE PEDIDOS SOLICITADOS</h2>

        <div class="card mb-4">

          {{#each doacao}}

          <div class="card-body">
            <td>{{categoria}}</td><br>
             <p>{{descricao}}</p>
             <br>
             <a href="/perfilOng/{{idOng}}" class="btn btn-info">Doe Agora &rarr;</a>
            <div class="card-footer text-muted">
                Prioridade: {{nivel}}
            </div>
             <br>
            
          </div>
          
          <br><br><br><br>
       {{/each}}
  
</body>
</html>
 
  <br><br><br><br>