<p>Essa página tem como objetivo permitir que você possa nos mandar uma mensagem, escreva seu nome completo e seu 
 email, e na área de "mensagem", você pode escrever dúvidas, pontos em que possamos melhorar o site, reclamações 
 entre outras coisas.</p>
<form action="fale_conosco" method="POST">
    <input type="text" name="nome_solicitante" placeholder="Digite seu Nome"><br>
    <input type="email" name="email_solicitante" placeholder="Digite seu Email"><br>
    <textarea name="relato_solicitante" placeholder="Escreva sua mensagem"></textarea>
    <br><br>
    <input type="submit">
</form>
	<p class="btn-danger" id="corMensagem" align="center">{{mensagem}}</p>
