<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil ONG</title><br><br><br>
</head>
  <body>
    <form action="/cadOng" method="POST" >
<table class="table">
  <tr>
    <th>razaoSocial</th>
  </tr>
  {{#each ong}}
<tr>
    <td>{{razaoSocial}}</td>
</tr>
 {{/each}}
</table>