<div class="row botao">
    <div class="d-grid gap-2  mx-auto">
  <button class="btn btn-primary xis" type="button">Button</button>
  <button class="btn btn-primary xis" type="button">Button</button>
</div>
