<div class="telaQuemSomos">    
    <div>
        <h1>Quem Somos</h1>
        
    </div> 
    <div class="">

        <p>Texto
        </p>
    </div>
    <div class="contatoCriador">
        Contato do criador desta página!<br>
        <div>
            Nome: <br>
            E-mail: 
        <a href="https://api.whatsapp.com/send?l=pt&amp;phone=5554981649884"><img 
        src="https://i.imgur.com/ryESuZ5.png" style="height:64px; position:fixed; bottom: 25px; right: 
        25px; z-index:99999;" data-selector="img"></a>
        <a href="https://mail.google.com/"><img 
        src="/public/img1/gmail.png" style="height:64px; position:fixed; bottom: 25px; right: 
        95px; z-index:99999;" data-selector="img"></a>
        <a href="https://www.senacrs.com.br/unidades.asp?unidade=38"><img 
        src="/public/img1/senac.png" style="height:64px; position:fixed; bottom: 25px; right: 
        210px; z-index:99999;" data-selector="img"></a>
        </div>
    </div>   
</div>