<div class="telaQuemSomos">    
    <div>
        <h1></h1>
        
    </div> 
    <div class="">

        <p>Somos uma equipe desenvolvedora de softwares onde o nosso principal objetivo é atender o desejo do cliente, tentamos sempre entregar o 
            mais breve possível o projeto conforme é solicitado, claro sempre atendendo os requisitos de funcionamento que é solicitado, esse é mais 
            um dos nossos trabalhos, se você acessou ele e gostou do nosso trabalho pode entrar em contato conosco através dos nossos contatos.
        </p>
    </div>
    <div class="contatoCriador">
        Contato do criador desta página!<br>
        <div>
            Nome: Tiago Skierzynski <br>
            E-mail: tiagoskierzynski@gmail.com
        </div>
    </div>   
</div>