  <!-- cabeçalho -->
  <div class="container-fluid" id="menu">          
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light menu1">
        <a class="nav-link" href="/paginaInicial">Página Inicial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/quemSomos">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doeAgora">Doe agora</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cadastro">Cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="Pesquisar" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
    </div>
  </div>

    <!-- rodapé -->
  <div class="container-fluid bg-primary" id="rodape">                  
    <div class="row">
      <div class="col-md-12">
        RODAPÉ
      </div>
    </div>
  </div>