/*menu*/
#menu {
    background-color: #0ab959;
    height: 10%;
    width: 100%;
  }
  .menu1 {
    width: 100%;
  }
  
  /*artigo*/
  #article {
    background-color: coral;
    width: auto;
    height: auto;
  }
  
  /*seção 1 linha*/
  #section1 {
    background-color: rgb(34, 236, 34);
    height: 363px;
    width: 100%;
  }

  #primeiro {
    background-color: rgb(167, 151, 146);
    width: auto;
    height: auto;
  }

  /*rodapé*/
  #rodape {
    background-color: #F9C1D8;
    height: 120px;
    width: 100%;
  }
  
  /*imagens*/
  #imagemArtigo {
    height: auto;
    width: 100%;
  }
  
  #imagem1 {
    height: 500px;
    width: 100%;
  }
  
  #imagem2 {
    height: 500px;
    width: 100%;
  }
  
  #imagem3 {
    height: 500px;
    width: 100%;
  }
  
  
  #coluna1 {
    height: 363px;
    width: 100%;
    background-color: #0062cc;
  }

  body form input{
    background-color: #afeee6;
  }

  #cor {
    background-color: #F9C1D8;
  }

  #pessoa{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    }

  #botaoPessoa{
    height: 100px;
    width: 300px;
  }

  .fundoPagina{
    background-color:  #F9C1D8;
  }

 .botao{
    margin-top:25%;
    margin-block-end:25%;
 }

.xis{
  height: 100px;
  width: 300px;
}

/* botões */
#botaoEditar{
  background-color: rgb(101, 233, 96);
}

#botaoExcluir{
  background-color: rgb(230, 90, 90);
}